<a name="education"></a>
<div class="hero-unit">

<div class="row">
<div class="span2 offset1">
<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="/me.jpg" alt="">
    </div>
  </li>
</ul>

</div>

<div class="span4">
	
	
	<address>
  		<strong>Vedant Singhania</strong><br>
  		
	</address>
	
	
	
	<address>
		<strong>Address</strong><br>
		408 S.Locust Street<br>
		UB Box #6931<br>
		Greencastle, Indiana - 46135<br>
	</address>
	
	<address>
	<strong>email:</strong> <a href="mailto:#">vedantsinghania_2013@depauw.edu</a>
	</address>
	
	<address>
		<strong>Phone:</strong>
		765-247-8664
	</address>
	
	
	<a href="http://www.linkedin.com/pub/vedant-singhania/29/a69/455">
      
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Vedant Singhania's profile on LinkedIn">
        
    </a>
	
</div>
	
</div>


</div>

<a name="experience"></a>

<div class="hero-unit">
<span class="badge badge-warning"><h1>Experience</h1></span>
<br>
<br>
<address>
<strong>Software Development Assistant</strong><br>
<a href="www.trinkon.com>">Trinkon LLC</a><br>
August 2011 – Present (1 year 5 months)<br><br>

Worked under supervision of project leader to design, develop and test a Facebook application that uses Persuasive Technology principles. Responsible for developing mobile versions of Trinkon for the iPhone and Android platforms.

</address>

<address>
<strong>Computer Science Instructor</strong><br>
<a href="www.stanford.edu">Stanford University</a><br>
June 2012 – August 2012 (3 months)<br><br>

Taught Java and HTML/CSS at Stanford University for a summer technology camp. Was responsible for developing and delivering lessons to students aged from 10 – 18 as well as supervising their project work.
</address>

<address>
<strong>Software Development Research Assistant</strong><br>
<a href="www.depauw.edu">DePauw University</a><br>
May 2011 – August 2011 (4 months)<br><br>

Worked with a small research group to develop software applying the principles of Persuasive Technology. Designed, developed and tested a Visual Basic .NET software system to prevent electronic distraction utilizing these principles.
</address>

<address>
<strong>Campus Internship Apprentice</strong><br>
<a href="www.depauw.edu/it/itap">Information Technology Associates Program</a><br>
August 2010 – May 2011 (10 months) DePauw University<br><br>

Underwent four different six-week long training rotations. One each in Website Development, Strategies and Methods for Instructional Technology, Musical Technology and Image Editing.

</address>

<address>
<strong>Intern</strong><br>
<a href="www.bajajcapital.com">Bajaj Capital Investment Kolkata</a><br>
January 2011 – February 2011 (2 months) Kolkata Area, India<br><br>

Analyzed real time and historical market data. Completed a project comparing the US and Indian financial markets. Presented work orally and in writing to company management.

</address>

</div>

<a name="projects"></a>
<div class="hero-unit">
<span class="badge badge-warning"><h1>Education</h1></span>
<br>




<br>

<address>
<strong>DePauw University</strong><br>
BA in Computer Science<br>
May 2013 (expected) <br>
<a href="www.depauw.edu">www.depauw.edu</a>
<br>

<br>
<address>
<strong>Honors and Awards</strong><br>
<br>

-President's Award for Excellence (2009 - 2013) - Scholarship Award by DePauw University.<br>
-Information Technology Associates Program (Honors Program) at DePauw University<br>

</address>




</div>

<a name="interests"></a>
<div class="hero-unit">

<span class="badge badge-warning"><h1>Projects</h1></span>
<br>
<small>Commercial or Research projects that I have worked on</small>

<br>
<br>

<div class="media">
  <a class="pull-left" href="#">
    <img class="img-circle" src="/trinkonlogo.jpg" width="100px" height="100px">
  </a>
  <div class="media-body">
    <h3 class="media-heading">Trinkon</h3>
    
    <p>Trinkon is a new Facebook application that enables users to share free branded icons with their friends.

It helps educational institutions and other organizations build engagement among their students, supporters and other stakeholders as well as boost social media presence through shared branded content.</p>
    
  </div>
  </div>


<br>
<div class="media">
  <a class="pull-left" href="#">
    <img class="img-circle" src="/logo.jpg" width="100px" height="100px">
  </a>
  <div class="media-body">
    <h3 class="media-heading">GradRags</h3>
    <p>Grad Rags is a company by students, for students. Our goal is simple: to eliminate the unnecessary environmental and financial costs associated with graduation caps and gowns. We understand that not everyone has the financial resources to pay a substantial price for a brand new cap and gown that they will only wear once in their life.
 
Therefore, we are here to offer a high quality, like-new product significantly discounted to help save both your pocketbook and our environment.
 
Most importantly, we organize a charitable clothing drive and donate portions of our profits to local homeless shelters because we understand that we are blessed just to be able to have the clean clothes on our backs.
 </p>
  </div>
  </div>

<br>

<div class="media">
  <a class="pull-left" href="#">
    <img class="img-cirlce" src="/focUs.png" width="100px" height="100px">
  </a>
  <div class="media-body">
    <h3 class="media-heading">FocUs</h3>
    <p>The system, written in Visual Basic .NET, allows the user to create a profile that specifies what his/her primary task will be and what applications, programs, or websites should be considered on-task and off-task. The system then uses this input to drive an application monitoring module that tracks the user’s on-task and off-task behaviors. The profile system also allows the user to choose a maximum break time for each task. Once the user exceeds this threshold, a trigger is presented to provide the user with the choice of continuing his/her break or resuming work on the primary task.
</p>
    
  </div>
  </div>

</div>


<div class="hero-unit">

<span class="badge badge-warning"><h1>Interests</h1></span>
<br>

<small>Activities or Organizations that I am involved in</small>

<br>
<br>

<ul class="thumbnails">
	
	<li class="span2">
		<div class="thumbnail">
      <img src="/sigmachi.jpg" alt="">
      <h5>Sigma Chi Fraternity</h5>
		</div>
		
	</li>
	
	<li class="span2">
<div class="thumbnail">
      <img src="/crossfit.jpg" alt="">
      <h5>Crossfit Conditioning</h5>
		</div>



</li>

	<li class="span2">
<div class="thumbnail">
      <img src="/yoga.jpg" alt="">
      <h5>Yoga</h5>
		</div>


</li>



	<li class="span2">
<div class="thumbnail">
      <img src="/fishing.jpg" alt="">
      <h5>Fishing</h5>
		</div>


</li>


		<li class="span2">
<div class="thumbnail">
      <img src="/mountaineering.jpg" alt="">
      <h5>Mountaineering</h5>
		</div>

</li>
		<li class="span2">
<div class="thumbnail">
      <img src="/technology.png" alt="">
      <h5>Technology</h5>
		</div>

</li>
		<li class="span2">
<div class="thumbnail">
      <img src="/rowing.jpg" alt="">
      <h5>Rowing</h5>
		</div>

</li>

		<li class="span2">

<div class="thumbnail">
      <img src="/racquetball.jpg" alt="">
      <h5>Racquetball</h5>
		</div>


</li>
	<li class="span2">
<div class="thumbnail">
      <img src="/taichi.jpg" alt="">
      <h5>Tai Chi</h5>
		</div>


</li>

</div>

</div>
