
<!DOCTYPE html>
<html>
<head>
  <title>vedant.singhania</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

	<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/home"><img src="/brand.png"></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="btn btn-warning btn-mini" type="button"><a href="#experience">Experience</a></li>
          <li class="btn btn-warning btn-mini" type="button"><a href="#education">Education</a></li>
          <li class="btn btn-warning btn-mini" type="button"><a href="#projects">Projects</a></li>
          <li class="btn btn-warning btn-mini" type="button"><a href="#interests">Interests</a></li>

        </ul>
      </div>
    </div>
  </div>

</div>
</div>


<div class="container">
	<div class="row">
	<div class="span9 offset1">
  <%= yield %>
</div>

</div>
</div>

<a href="#"><h4 class="pull-right">Top</h4></a>
</body>
</html>